* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}
body{
  overflow-x: hidden;
}
div.main-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
div.flex-container-2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
div.flex-container-3{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
}
div.flex-contianer-4{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
}
h2.text-title{
  text-align: center;
}
.img-wo {
  width: 100%;
  height: auto;
}
.img-balon{
  width: 100%;
  height: auto;
}
.nav-main{
  width: 100%;
}
.img-logo{
  width: auto;
  height: 10%;
}
.container-lud{
  background-image: url(/img/FONDO-2_01.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.container-lud2{
background: rgb(9,9,121);
background: linear-gradient(22deg, rgba(9,9,121,1) 38%, rgba(2,116,249,1) 78%);
width: 100%;
}
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/*Desktop Enviroment*/
@media only screen and (min-width: 768px) {
  div.flex-container-2{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
  .img-wo {
    width: auto;
    height: 600px;
  }
  .text-card1{
    text-align: justify;
    margin-left: 20px;
    margin-right: 20px;
  }
  div.flex-container-3{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    
  }
  div.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .card-1{
    width: 100%;
  }
  .w-icons{
    width: 100%;
  }
  .card-body{
    width: 100%;
  }
  .row{
    flex-wrap: nowrap;
    width: 100%;
  }
}